extends layout

block content
  h1= title
  - var results=res;
    
  
  div(class="container-fluid")
    div(class="row m-1")
      each item in results
       - let destination = `dispatch(\"/animals/update?id=${item._id}\")`
       div(class="row-sm-2", class="m-1") name is #{item.name} <br /> lifetime is #{item.lifetime} <br /> color is #{item.color}
       button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
        
      
